[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
flask = "*"
python-dotenv = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.13"
