[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
flask = "*"
python-dotenv = "*"
watchdog = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
apscheduler = "*"
flask-migrate = "*"
wtforms-validators = "*"
wtforms = "*"
email-validator = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.13"
